*{
    --primary: #174E69;
    --secondary: rgb(202, 173, 9);
    --purple: rgb(170, 59, 190);
    --body-bg: #EBE3E1;
    --nav-bg: rgba(23,78,105, 0.50);
    --author-bg: var(--primary);

    --accent: #BE30B0;
}