{% extends "layouts/base.html" %} {% block content %}
<article class="arcana-body">
  <h2 class="card-title">{{ title }}</h2>
  <p class="card-summary">{{ summary }}</p>
  <figure class="arcana-wrapper">
      <picture class="card">
          <source srcset="/{{ card.webp }}" alt="{{ card.alt }}">
            <img src="/{{ card.jpg }}" alt="{{ card.alt }}">
      </picture>

      <figcaption>
          <p class="meaning">{{ meaning.general }}</p>
          <p class="meaning">{{ meaning.example }}</p>
        </figcaption>
  </figure>
</article>
{% endblock %}