{% extends "layouts/base.html" %} {% block content %}
<article class="arcana section-wrapper">
  <figure class="arcana-wrapper">
      <picture class="card">
          <source srcset="/{{ card.webp }}" alt="{{ card.alt }}">
            <img src="/{{ card.jpg }}" alt="{{ card.alt }}">
      </picture>

      <figcaption>
        <p class="card-summary">{{ summary }}</p>

        <h3>Keywords</h3>
        <ul class="keywords">
          {% for item in keywords %}
              <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </figcaption>
  </figure>

  {{ content | safe }}

  {% if quote %}
  <blockquote>
    <span class="arcana-quote">{{ quote }}</span>
    <br>
    <span class="byline">{{ quoteby }}</span>
  </blockquote>
  {% endif %}
</article>
{% endblock %}