<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://use.typekit.net/nos7ayz.css">
    <link rel="stylesheet" href="/css/inlustris.css">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔮</text></svg>">
    <link rel="apple-touch-icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔮</text></svg>" type="image/icon type"/>
    
    <meta name="theme-color" content="#174E69">
    
    {% include "partials/meta-info.html" %}

    <!-- VISA Tracking Code for inlustristarot.com --><script>(function(v,i,s,a){if(!v._visaSettings){v._visaSettings={};}v._visaSettings["89bb3c3b-6c56-11eb-b589-901b0edac50a"]={v:"0.3",s:"89bb3c3b-6c56-11eb-b589-901b0edac50a",a:"1"};_v=i.getElementsByTagName("head")[0];_a=_v;_i=i.createElement("script");_s=_i;_s.defer="defer";_s.src=s+a+v._visaSettings["89bb3c3b-6c56-11eb-b589-901b0edac50a"].v;_a.appendChild(_s);})(window,document,"//app-worker.visitor-analytics.io/main",".js?s=89bb3c3b-6c56-11eb-b589-901b0edac50a&v=")</script><!-- VISA Tracking Code for inlustristarot.com -->
  </head>

  <body>
    {% if '/' == page.url %}
      {% include "partials/site-head-full.html" %}
    {% elif 'arcana' in page.url %}
      {% include "partials/site-head-arcana.html" %}
    {% elif '/' !== page.url %}
      {% include "partials/site-head.html" %}
    {% endif %}


    <main tabindex="-1" id="main-content">
      <article>
        {% block content %}{% endblock %}
      </article>
    </main>


    <footer>
        <p>Copyright &copy; 2023 Inlustris Tarot</p>
        <p>Designed and developed by <a href="https://jaydnedwards.com">Jaydn Edwards</a></p>
    </footer>
  </body>
</html>
