<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://use.typekit.net/nos7ayz.css">
    <link rel="stylesheet" href="/css/inlustris.css">
    
    {% include "partials/meta-info.html" %}

    
  </head>

  <body>
    {% include "partials/site-head.html" %}


    <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
    </main>


    <footer>
        <p>Copyright &copy; 2021 Inlustris Tarot</p>
        <p>Designed and developed by <a href="https://jaydnedwards.com">Jaydn Edwards</a></p>
    </footer>
  </body>
</html>
