{% extends "layouts/base.html" %} {% block content %}
<article class="blog-feed">
    <section class="feed-body">
    {% for post in collections.blog %}
    <div class="[ blog-feed-wrapper ]">
        <img src="{{ post.data.socialImage }}" type="image/jpg" alt="">

        <div class="summary">
            <h2><a href="{{ post.url }}" title="{{ post.data.title }}">
                {{ loop.revindex0 }} - {{ post.data.title }}
            </a></h2>

            <p class="post-date">Posted on <time datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFilter }}</time>.</p>
            <p class="post-snippet">{{ post.data.snippet }}</p>
        </div>
        
    </div>
    {% endfor %}
    </section>
</article>
{% endblock %}