{% extends "layouts/base.html" %} {% block content %}
<section class="feed-body">
    <div class="section-wrapper">
        {{ content | safe }}
    </div>
    <div class="two-column-feed">
        <div class="outer-wrapper">
        <h2><a href="pentacles/">Pentacles</a></h2>
            <div class="inner-wrapper">
            {% for post in collections.pentacles | randomLimit(3, page.url)  %}
                {% include 'partials/feed-card.html' %}
            {% endfor %}
            </div>
        </div>

        <div class="outer-wrapper">
            <h2><a href="wands/">Wands</a></h2>
                <div class="inner-wrapper">
                {% for post in collections.wands | randomLimit(3, page.url) %}
                    {% include 'partials/feed-card.html' %}
                {% endfor %}
                </div>
        </div>

        <div class="outer-wrapper">
            <h2><a href="swords/">Swords</a></h2>
                <div class="inner-wrapper">
                {% for post in collections.swords | randomLimit(3, page.url) %}
                    {% include 'partials/feed-card.html' %}
                {% endfor %}
                </div>
        </div>

        <div class="outer-wrapper">
            <h2><a href="cups/">Cups</a></h2>
                <div class="inner-wrapper">
                {% for post in collections.cups | randomLimit(3, page.url) %}
                    {% include 'partials/feed-card.html' %}
                {% endfor %}
                </div>
        </div>
    </div>
</section>
{% endblock %}