@import url("https://use.typekit.net/nos7ayz.css");

@font-face{
    font-family: 'HKGrotesk';
    src: url(/fonts/HKGrotesk-Medium.woff);
}

@font-face{
    font-family: 'HKGroteskBold';
    src: url(/fonts/HKGrotesk-SemiBold.woff);
}

*{
    --primary: #174E69;
    --secondary: rgb(202, 173, 9);
    --body-bg: #EBE3E1;
    --nav-bg: rgba(23,78,105, 0.50);
    --author-bg: var(--primary);

    font-size: 22px;
    line-height: 1.5;

    font-family: 'HKGrotesk', sans-serif;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }  

body{
    background-color: var(--body-bg);
}

main{
    padding: 0, 0.5em;
}

h1,
h2,
h2 a,
h3,
h3 a{
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;

    color: var(--primary);

    text-align: center;
}

h3{
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
    font-size: 2rem;
}

.blog h3{
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 10px;
    text-underline-offset: -7px;
    text-decoration-skip-ink: none;
}

.feed-wrapper h3 a{
    font-weight: normal;
}

figcaption h3{
    text-align: center;
}

article h2:first-child{
    margin-bottom: 0.75em;
}

p{
    font-family: 'HKGrotesk', sans-serif;
    max-width: 75ch;
    margin-bottom: 1.5em;
}

p a{
    text-decoration: underline;
    transition: 0.5s;
}

body a:hover{
    text-decoration-color: var(--secondary);
}

p strong{
    color: var(--primary);
    font-family: 'HKGroteskBold', sans-serif;
}

figcaption{
    font-family: 'HKGrotesk', sans-serif;
}

time{
    color: var(--primary);
}

.post-date{
    border-bottom: 2px solid var(--primary);
    border-radius: 5px;
    display: block;
    width: fit-content;
    padding: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

a img{
    transition: 0.5s;
}

a img:hover{
    filter: hue-rotate(180deg);
}

a:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
    text-underline-offset: -2px;
}

hr{
    height: 3px;
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
}

.emoji{
    font-size: inherit;
}

.button{
    color: white;
    background-color: var(--primary);
    border-radius: 2em;
    transition: 0.25s;
    font-family: mrs-eaves, serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.button:hover{
    background: var(--secondary);
}

.button a{
    padding: 0.5em 2em;
    display: inline-block;
}

.button a:hover{
    text-decoration: none;
}

hgroup *{
    line-height: 1;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.site-title{
    font-size: clamp(2rem, 7vw, 94px);
    font-size-adjust: 0.5;
    color: white;
}

.tagline{
    font-family: mrs-eaves-roman-all-petite-c, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: clamp(1.5rem, 4vw, 64px);
}

header{
    background-color: var(--primary);
    background-image: url(/images/hero.jpg);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 40vh;

    margin-bottom: 2em;
}

header .wrapper{
    height: 33vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.primary-nav{
    background: var(--nav-bg);
    padding: 0.25em 0;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    color: white;

    backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.primary-nav ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: center;
}

.primary-nav a{
    font-family: mrs-eaves, serif;
}

.primary-nav li:not(:last-child){
    margin-right: 1em;
}

.primary-nav a:hover{
    text-decoration-color: white;
}

nav ul{
    padding: 0;
}

article{
    max-width: 70ch;
    margin: 0 auto 80px auto;
    padding: 0 0.5em;
}

img{
    border-radius: 15px;
}

.cards-wrapper{
    width: 120%;
    margin-left: -10%;

    display: flex;
    justify-content: center;
    column-gap: 1em;

    margin-bottom: 80px;
}

.social-nav{
    margin-bottom: 80px;
}

.social-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-nav li:not(:last-child){
    margin-right: 1.5em;
}

.author{
    width: 100%;
    background-color: var(--author-bg);
    color: white;
    padding: 40px 1em 60px 1em;
}

.author .wrapper{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 85ch;

    margin: 0 auto;
}

.author-text{
    max-width: 50ch;
}

.author-text h2{
    color: white;
    text-align: left;
}

.author img{
    object-fit: cover;
    border-radius: 10px;
    max-width: 330px;
    max-height: 350px;
}

.author a{
    text-decoration: underline;
    transition: 0.5s;
}

.author a:hover{
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 5px;
}

.arcana-body{
    max-width: 100ch;
}

.card-summary,
.arcana-quote{
    text-align: center;
    max-width: 100%;
    font-family: mrs-eaves-roman-all-petite-c, sans-serif;
    font-size: 2em;
    margin-bottom: 70px; /* Need to compensate for the Mrs Eaves font not using space properly. */
}

.arcana-quote{
    color: var(--primary);
}

.arcana-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
}

.meaning{
    display: block;
    max-width: 50ch;
}

.card,
.card img{
    max-width: 300px;
    border-radius: 15px;
}

.feed-body{
    max-width: 75vw;
}

.feed-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
}

.feed-wrapper figure{
    width: clamp(150px, 40%, 225px);
    margin-bottom: 1em;
}

.feed-wrapper picture{
    width: 100%;
    height: auto;
}

.feed-wrapper h3{
    font-size: 1.25em;
}

.feed-wrapper a{
    font-size: inherit;
    text-decoration-color: var(--secondary);
}

.keywords{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1em;
    padding-left: 0;
    max-width: 45ch;
    text-transform: capitalize;
}

.blog figure{
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 1.5em;
}

.blog-feed-wrapper{
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 25px;
    border: 3px solid var(--secondary);
}

.blog-feed-wrapper img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post-snippet{
    margin-bottom: 0;
}

.post-tags{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.post-tags li{
    margin-right: 1em;
}

footer{
    background: black;
    color: white;
    padding: 3em;
}

footer p{
    margin-bottom: 0;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration-color: white;
}

@media only screen and (max-width: 990px){
    .cards-wrapper{
        width: 90vw;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .cards-wrapper figure{
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 410px){
    .social-nav li{
        margin-right: 1.5em;
        margin-left: 1.5em;
        margin-bottom: 2em;
        width: -webkit-fill-available;
        text-align: center;
    }

    .feed-wrapper img{
        border-radius: 5px;
    }
}

@supports not (text-decoration-skip-ink: none){
    .blog h3{
        text-underline-offset: 0;
    }
}