.two-column-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
}