<section class="[ author ]">
    <div class="[ wrapper ]">
    <div class="[ author-text ]">
        <h2>About the Author <span class="[ emoji ]">✨</span></h2>
        <p>Inlustris Tarot is being designed by <a href="https://jaydnedwards.com">Jaydn Edwards</a>; a tarot enthusiast, web designer & developer, and digital skills trainer.</p>
        <p>He has been spiritually involved and active for a number of years, first picking up tarot cartomancy when he was 16.</p>
    </div>

    <figure>
        <source srcset="images/author/author.webp" alt="Jaydn Edwards">
            <img src="images/author/author.jpg" alt="Jaydn Edwards">
    </figure>
</div>
</section>