<div class="cards">
    <figure class="level-3">
        <a href="minor-arcana/wands/3/">
            <picture>
                <source srcset="images/minor-arcana/wands/3.webp" alt="">
                <img src="images/minor-arcana/wands/3.jpg" alt="">
            </picture>
        </a>
    </figure>

    <figure class="level-2">
        <picture>
            <source srcset="images/major-arcana/the-lovers/Lovers.webp" alt="">
            <img src="images/major-arcana/the-lovers/Lovers.jpg" alt="">
        </picture>
    </figure>

    <figure class="level-1">
        <picture>
            <source srcset="images/home-cards/Priestess.webp" alt="">
            <img src="images/home-cards/Priestess.jpg" alt="">
        </picture>
    </figure>

    <figure class="level-2">
        <picture>
            <source srcset="images/major-arcana/judgement/Judgement.webp" alt="">
            <img src="images/major-arcana/judgement/Judgement.jpg" alt="">
        </picture>
    </figure>

    <figure class="level-3">
        <picture>
            <source srcset="images/major-arcana/the-chariot/Chariot.webp" alt="">
            <img src="images/major-arcana/the-chariot/Chariot" alt="">
        </picture>
    </figure>
</div>