<div class="[ cards-wrapper ]">
    <figure>
        <picture>
            <source srcset="images/home-cards/Magician.webp" alt="">
            <img src="images/home-cards/Magician.jpg" alt="">
        </picture>
    </figure>

    <figure>
        <picture>
            <source srcset="images/home-cards/Chariot.webp" alt="">
            <img src="images/home-cards/Chariot.jpg" alt="">
        </picture>
    </figure>

    <figure>
        <picture>
            <source srcset="images/home-cards/Strength.webp" alt="">
            <img src="images/home-cards/Strength.jpg" alt="">
        </picture>
    </figure>

    <figure>
        <picture>
            <source srcset="images/home-cards/Wheel.webp" alt="">
            <img src="images/home-cards/Wheel.jpg" alt="">
        </picture>
    </figure>
</div>