<a class="[ skip-link ] [ button ]  [ visually-hidden ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
    {% include "partials/primary-nav.html" %}

    <div class="[ wrapper ]">
        <hgroup>
            <h1 class="[ site-title ]">
                {% if 'blog/' in page.url %}
                    Blog
                {% elif 'blog/' !== page.url %}
                    {{ title }}
                {% endif %}
            </h1>
        </hgroup>
  </div>
</header>
